.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
}
.postImg {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}
.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCats {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
  /* overflow: hidden; */
  flex-wrap: wrap;
  /* text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
}
.postCat {
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  color: #be9656;
  border: 1px solid #be9656;
  border-radius: 19px;
  padding: 3px 7px;
  line-height: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.authorAnddate {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 15px;
}
.postAuthor {
  font-size: 20px;
  color: #b39656;
  font-weight: 600;
  font-family: "Valera Round", sans-serif;
}
.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  color: #565656;
}
.postDesc {
  font-family: "Valera Round", sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
